<ng-container *ngIf="type==='hr'">
  <div class="container-fluid h-100">
    <div class="row h-100 text-center mt-5">
      <div class="col-sm-12  h-100 justify-content-center align-content-center">
        <h3 class='d-block'> Hr Login </h3>
        <form>
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Enter Password">
          <label>Password</label>
          <input type="text" placeholder="Enter Password" class="form-control">
          <button class="btn btn-warning mt-5">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type==='employee'">
  <div class="container-fluid h-100">
    <div class="row h-100 text-center mt-5">
      <div class="col-sm-12  h-100 justify-content-center align-content-center">
        <h3 class='d-block'> Employee Login </h3>
        <form>
          <label>Employee Id</label>
          <input type="text" class="form-control" placeholder="Enter Password">
          <label>Passcode</label>
          <input type="text" placeholder="Enter Password" class="form-control">
          <button class="btn btn-warning mt-5">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-container>