<!-- <div class="container h-100">
  <div class="row h-100  align-items-center">
    <div class="col-12">
      <div class="row">
        <div class="col-6" *ngFor="let single of HomepageMenu" (click)="routing(single.url)">
          <div class="item-container">
            <img class="m-3 ml-5 " src="../../assets/images/{{single.ImagePath}}" alt="check-in" width="65px"
              height="75px">
            <p class="text-center">{{single.title}}</p>
          </div>
        </div> 
  
    
      </div>
    </div>
  </div>-->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group mat-stretch-tabs [backgroundColor]="'primary'" class=" stretched-tabs">
        <mat-tab label="HR" class="text-danger ">
          <app-loginpage [type]="'hr'"></app-loginpage>
        </mat-tab>
        <mat-tab label="EMPLOYEE" class="text-danger">
          <app-loginpage [type]="'employee'"></app-loginpage>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<!-- <button mat-button>Click me!</button> -->