.item-container {
    height: auto;
    width: auto;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
}

.stretched-tabs {
    max-width: 800px;
}

// .row {
//     padding: 0;
//     background: rgb(248,69,99);
//     background: linear-gradient(333deg, rgba(248,69,99,1) 3%, rgba(244,64,30,1) 45%, rgba(255,255,255,1) 100%);

// }