<ion-content class="m-0">
  <ion-virtual-scroll [items]="items" approxItemHeight="400px">
    <ion-list *virtualItem="let item; let itemBounds = bounds;">
      <div>
      </div>
      <ion-item class="p-0">

        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-12 ">
              <div class="row">
                <div class="col-2 ">
                  <ion-avatar>
                    <img [src]="imgSrc">
                  </ion-avatar>
                </div>
                <div class="col-10">
                  <div class="row mb-2">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-10" (click)="update(item)">
                          <p class="heading-name m-0 ml-2 mt-2">
                            {{item.empName}}
                          </p>
                        </div>
                        <div class="col-2 text-right" (click)="deleteEmployee(null,item)">
                          <span class='mdi mdi-delete'></span>
                        </div>
                      </div>

                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12">
                          <div class="row mt-3">
                            <div class="col-6">
                              <span class="mb-2 description">
                                EmpId: {{item.empId}}
                              </span>
                            </div>
                            <div class="col-6">
                              <span class="mb-2 description">
                                EmpDept: {{item.empDept}}
                              </span>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </ion-item>
    </ion-list>
  </ion-virtual-scroll>
</ion-content>
<ng-template #deletedialog>
  <div class="div">
    <p>Are You sure to Delete</p>
    <ion-button color='light' (click)="deleteEmployee('yes')">
      Yes
    </ion-button>
    <ion-button color="danger" (click)="deleteEmployee('no')">
      No
    </ion-button>

  </div>
</ng-template>